<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    <% if(locals.nameLength){ %>
      There are <%=nameLength%> in your name.
    <%} else {%>
      Write your name to get the count of your name's letters.
    <%}%>
  </h1>

  <form action="/submit" method="POST">
    <label for="fName">First Name:</label>
    <input type="text" name="fName">
    <br>
    <label for="lName">Last Name:</label>
    <input type="text" name="lName">
    <br>
    <input type="submit">
  </form>

  <br />
  <br />

  <a href="/names">Go To Names.</a>
</body>
</html>